<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Backbone.js Comics</title>
  <link rel="stylesheet" href="comics.css"/>
</head>

<body>
  <div id="comicapp">
    <header>
      <h1>Comics</h1>
      <input id="new-title" type="text" placeholder="Title">
      <input id="new-issue" type="text" placeholder="Issue">
      <input id="new-author" type="text" placeholder="Author">
      <input id="new-artist" type="text" placeholder="Artist">
      <input id="new-description" type="text" placeholder="Tell me about.">
    </header>

    <section id="main" style="display:block">
      <ul id="comic-list"></ul>
    </section>

  </div>

  <div id="instructions">
    Double-click to edit a comic.
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="assets/underscore.js"></script>
  <script src="assets/backbone.js"></script>
  <script src="assets/backbone-localstorage.js"></script>

  <script type="text/template" id="item-template">
    <div class="view">
      <img class="comic-image" src="xmen.jpg">
      <div class="info-container">
        <div class="upper-info">
          <label class="title"><%- title %></label>
          <label class="issue-number"><%- issue %></label>
        </div>
        <div class="lower-info">
          <label class="author"><%- author %></label>
          <label class="artist"><%- artist %></label>
          <label class="description"><%- description %></label>
        </div>
      </div>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <div class="comic-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item'
    : 'items' %> read</div>
  </script>
  <script src="comics.js"></script>

  </body>
</html>

